@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 0%);
  --card: hsl(223.8136 -172.5242% 100%);
  --card-foreground: hsl(223.8136 0% 3.9388%);
  --popover: hsl(223.8136 -172.5242% 100%);
  --popover-foreground: hsl(223.8136 0% 3.9388%);
  --primary: hsl(227.1429 100% 97.2549%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary: hsl(223.8136 0.0002% 96.0587%);
  --secondary-foreground: hsl(223.8136 0% 9.0527%);
  --muted: hsl(223.8136 0.0002% 96.0587%);
  --muted-foreground: #57575f;
  --accent: hsl(228.1013 100% 53.5294%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(351.7303 123.6748% 40.5257%);
  --destructive-foreground: hsl(223.8136 -172.5242% 100%);
  --border: #e0e2ea;
  --input: hsl(228 100% 99.0196%);
  --ring: hsla(228, 100%, 54%, 0.044);
  --chart-1: hsl(211.788 101.9718% 78.6759%);
  --chart-2: hsl(217.4076 91.3672% 59.5787%);
  --chart-3: hsl(221.4336 86.3731% 54.0624%);
  --chart-4: hsl(223.6587 78.718% 47.8635%);
  --chart-5: hsl(226.5426 70.0108% 39.9224%);
  --sidebar: hsl(240 20% 98.0392%);
  --sidebar-foreground: hsl(223.8136 0% 3.9388%);
  --sidebar-primary: hsl(223.8136 0% 9.0527%);
  --sidebar-primary-foreground: hsl(223.8136 0.0004% 98.0256%);
  --sidebar-accent: hsl(223.8136 0.0002% 96.0587%);
  --sidebar-accent-foreground: hsl(223.8136 0% 9.0527%);
  --sidebar-border: hsl(223.8136 0.0001% 89.8161%);
  --sidebar-ring: hsl(223.8136 0% 63.0163%);
  --font-sans: var(--font-plus-jakarta-sans), Plus Jakarta Sans, sans-serif;
  --font-serif: var(--font-plus-jakarta-sans), Plus Jakarta Sans, sans-serif;
  --font-afacad: var(--font-afacad), Afacad, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(223.8136 0% 3.9388%);
  --foreground: hsl(223.8136 0.0004% 98.0256%);
  --card: hsl(223.8136 0% 9.0527%);
  --card-foreground: hsl(223.8136 0.0004% 98.0256%);
  --popover: hsl(223.8136 0% 14.9382%);
  --popover-foreground: hsl(223.8136 0.0004% 98.0256%);
  --primary: hsl(223.8136 0.0001% 89.8161%);
  --primary-foreground: hsl(223.8136 0% 9.0527%);
  --secondary: hsl(223.8136 0% 14.9382%);
  --secondary-foreground: hsl(223.8136 0.0004% 98.0256%);
  --muted: hsl(223.8136 0% 14.9382%);
  --muted-foreground: hsl(223.8136 0% 63.0163%);
  --accent: hsl(228.1013 100% 53.5294%);
  --accent-foreground: hsl(223.8136 0.0004% 98.0256%);
  --destructive: hsl(358.7594 101.8439% 69.8357%);
  --destructive-foreground: hsl(223.8136 0.0004% 98.0256%);
  --border: #e0e2ea;
  --input: hsl(223.8136 0% 20.3885%);
  --ring: hsl(223.8136 0% 45.1519%);
  --chart-1: hsl(211.788 101.9718% 78.6759%);
  --chart-2: hsl(217.4076 91.3672% 59.5787%);
  --chart-3: hsl(221.4336 86.3731% 54.0624%);
  --chart-4: hsl(223.6587 78.718% 47.8635%);
  --chart-5: hsl(226.5426 70.0108% 39.9224%);
  --sidebar: hsl(223.8136 0% 9.0527%);
  --sidebar-foreground: hsl(223.8136 0.0004% 98.0256%);
  --sidebar-primary: hsl(225.3451 84.0953% 48.9841%);
  --sidebar-primary-foreground: hsl(223.8136 0.0004% 98.0256%);
  --sidebar-accent: hsl(227 100% 97%);
  --sidebar-accent-foreground: hsl(223.8136 0.0004% 98.0256%);
  --sidebar-border: hsl(223.8136 0% 15.5096%);
  --sidebar-ring: hsl(223.8136 0% 32.1993%);
  --font-sans: var(--font-plus-jakarta-sans), Plus Jakarta Sans, sans-serif;
  --font-serif: var(--font-plus-jakarta-sans), Plus Jakarta Sans, sans-serif;
  --font-afacad: var(--font-afacad), Afacad, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-afacad: var(--font-afacad);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .pageTitle {
    @apply text-[28px] font-semibold leading-[34px] tracking-normal;
  }

  .badge-yellow {
    @apply !bg-[#FFFCE0] !text-[#F4BF00] !border-[#F4BF00];
  }

  .badge-purple {
    @apply !bg-[#F6F5FF] !text-[#5239E2] !border-[#B4ABE9];
  }

  .badge-blue {
    @apply !bg-[#EBF5FF] !text-[#0683FF] !border-[#B1D8FF];
  }

  .badge-indigo {
    @apply !bg-[#F8ECFF] !text-[#B343F6] !border-[#EAC5FF];
  }

  .badge-green {
    @apply !bg-[#EAFFF2] !text-[#00B844] !border-[#B7EACA];
  }

  .badge-red {
    @apply !bg-[#FFF2F2] !text-[#FF0000] !border-[#FFD7D7];
  }

  .badge-orange {
    @apply !bg-[#FFF6E9] !text-[#FF9900] !border-[#FFDEAD];
  }

  .badge-grey {
    @apply bg-gray-100 text-gray-600 border-gray-200;
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
